### Shared ###

# OS
.DS_Store
Thumbs.db

# Env
.env

# IDE/editor files
.vscode/
.idea/

### Backend ###

# Python Bytecode files
/backend/app/__pycache__/
/backend/app/*.py[cod]

# Env
/backend/app/.env

# Conda environments
/backend/*.conda
/backend/*.ipynb_checkpoints

# Virtual environment
/backend/venv/
/backend/env/
/backend/ENV/
/backend/.venv/

# IDE/editor files
/backend/.vscode/
/backend/.idea/

# System files
/backend/.DS_Store
/backend/Thumbs.db

# FastAPI specific files
/backend/*.db

# Logs
/backend/*.log

### Frontend ###

# Packages
/frontend/node_modules

# Output
/frontend/.output
/frontend/.vercel
/frontend/.netlify
/frontend/.wrangler
/frontend/.svelte-kit
/frontend/build

# OS
/frontend/.DS_Store
/frontend/Thumbs.db

# Env
/frontend/.env

# Vite
/frontend/vite.config.js.timestamp-*
/frontend/vite.config.ts.timestamp-*

# IDE/editor files
/frontend/.vscode/
/frontend/.idea/
