### Shared ###

# OS
.DS_Store
Thumbs.db

# Env
.env

# IDE/editor files
.vscode/
.idea/

### Backend ###

# Python Bytecode files
__pycache__/
*.py[cod]

# Conda environments
*.conda
*.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/
.venv/

# FastAPI specific files
*.db

# Chroma DB Local Storage
chroma

# Logs
*.log

### Frontend ###

# Packages
node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
build

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
