# Python Bytecode files
__pycache__/
*.py[cod]

# Env
.env

# Conda environments
*.conda
*.ipynb_checkpoints

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE/editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Chroma DB Local Storage
chroma

# FastAPI specific files
*.db

# Logs
*.log
