# Python Bytecode files
/app/__pycache__/
/app/*.py[cod]

# Env
/app/.env

# Conda environments
*.conda
*.ipynb_checkpoints

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE/editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# FastAPI specific files
*.db

# Logs
*.log
